*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  max-height: 100vh;
}
.global-text {
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}



.btn-default{
  all: unset;
  font-weight: bold;
  background-color: var(--verde-acqua-background);
  border: var(--celeste-border) solid 1px;
  border-radius: 4px;
  
}

.btn-default:hover{
  background-color: var(--verde-scuro-background);
  border: var(--blu-border) solid 1px;
}



.btn-meta {
  font-size: 24px;
  padding: 10px 22px;
  text-transform: uppercase;
}



/* ---------------offcanvas---------------- */
.offcanvas-container{
  font-family: "Poppins", sans-serif;
  bottom: initial;
  margin-top: 10px;
  padding: 20px 24px 20px 34px;
  border-radius: 14px 0 0  14px;
  background-color: var(--beige-background);
 
}

.form-container{
  margin-top: 20px;

}

.offcanvas-container textarea{
  resize: none;
}



.global-input-title h5 {
  margin: 16px 0 4px 0;
}


.btn-form {
  margin-top: 10px;
  padding: 2px 10px;

}
/*- ---------------offcanvas---------------- -*/

/*---------------calendario e mappa ----------------*/

.cal-map-container{
  
  height: 350px;
  width: 100%;
  display: flex;
 
}
.Calendar{
  border: var(--blu-border) solid 2px;
  border-radius: 4px;
}
.Map{
  border: var(--blu-border) solid 2px;
  border-radius: 4px;
}

/*- ---------------calendario e mappa ---------------- -*/

/*---------------accordion ----------------*/

.accordion-checkbox-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  align-items: center;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.accordion-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: var(--grey-border) solid 1px;
  border-radius: 4px;
  
  
}

.accordion-checkbox-container:hover .custom-checkbox {
  border-color: var( --yellow-border);
  background-color: var(--grey-background);
}

.custom-checkbox:after {
  content: '\2716';
  position: absolute;
  display: none;
}

.accordion-checkbox:checked ~ .custom-checkbox:after {
  display: block;
}

.accordion-checkbox-container .custom-checkbox:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





/*- ---------------calendario e mappa ---------------- -*/
