:root {
    --text-color : #1A1B41;

    --verde-acqua-background: #C2E7DA;
    --verde-scuro-background: #789B8F;
    --beige-background: #FBFFF8;
    --grey-background: #EEECEC;
    --ligh-red-background: #ED6A5A;
    --dark-red-background: #7B372F;
    --ligh-cyan-background: #9BC1BC;
    --dark-cyan-background: #526865;

    --celeste-border: #6290C3;
    --blu-border: #1A1B41;
    --grey-border: #757780;
    --yellow-border: #9b9979;
}