:root {
    --text-color : #1A1B41;

    --verde-acqua-background: #C2E7DA;
    --verde-scuro-background: #789B8F;
    --beige-background: #FBFFF8;

    --celeste-border: #6290C3;
    --blu-border: #1A1B41;
}